* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

::selection {
    background-color: #00B84A;
    color: #FFFFFF;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: red !important;
}

.card {
    height: 600px;
    width: 350px;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;


}

.meu-pais {
    color: white;
    font-size: 14px;
    margin-top: 8px;
    color: #00FF66;
    font-weight: bold;
}

.container-img img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-top: 14px;

}

.nome {
    color: white;
    margin-top: 14px;
}

.bio {
    color: #ccc;
    margin-top: 14px;
    margin-bottom: 10px;
}


.card-github,
.socais {
    height: 50px;
    width: 85%;
    background-color: #3A3A3A;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    cursor: pointer;
}

.card-github a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    outline: none;
    user-select: none;
}

.card-github a {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.card-github a:focus {
    outline: none;
}

.card-github a:active {
    outline: none;
}